<% provide(:title, '404 ERROR') %>
<div class="dialog">
  <div>
    <h3>アクセスが許可されませんでした</h3>
    <p>ご利用のアカウントでは、ご指定のページのアクセス権がございません</p>
    <p>URLをご確認の上、もう一度お試しください。</p>
    <%= link_to "トップページへ戻る", root_path, class: "btn btn-primary" %>
  </div>
</div>