<% provide(:title, '500 ERROR') %>
<div class="dialog">
  <div>
    <h3>ページを表示できません</h3>
    <p>サーバーの問題でお探しのページを表示できません。</p>
    <p>再度時間をおいてアクセスしてください。</p>
    <%= link_to "トップページへ戻る", root_path, class: "btn btn-primary" %>
  </div>
</div>