@import "bootstrap-sprockets";
@import "bootstrap";

h1 {
  font-size: 30px;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

ul {
  margin-bottom: 25px;
  
}

li{
  list-style-type: none;
  padding: 0px;
  }

.container {
  max-width: 1000px;
  margin: 60px auto;
  padding-left: 15px;
  padding-right: 15px;
  clear: both;
}

.new-task{
  color: white;
  font-size: 20px;
  text-align: right;
}

.sort{
  color: white;
  font-size: 20px;
  text-align: right;
  margin-top: 5px;
}


/* top(not_logged_in) */
.top {
  text-align: center;
  h1{
    font-size: 50px;
    margin: 100px;
  }
  h4{
    margin: 50px;
  }
}

/* header */

header {
  height: 50px;
  background-color: #272836;
  color: white;
  padding-left: 50px;
  padding-right: 50px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 9px;
  &:hover {
    color: white;
    text-decoration: none;
  }
}